*.font: Fira Code-12;

! st
st.borderpx:        2
st.alpha:           0.9
st.alphaUnfocused:  0.8

! dwm
dwm.borderpx:       2
dwm.showbar:        1
dwm.topbar:         1
dwm.nmaster:        1
dwm.mfact:          0.333
!! defaultlayout
! 0: tile
! 1: floating
! 2: monocle
! 3: centeredmaster
! 4: centeredfloatingmaster
dwm.defaultlayout:  3
dwm.centerfirst: 1
