! Transparency.
*.alpha: .9
*.alphaUnfocused: .8

! Font.
*.font: Fira Code-12;

*.borderpx: 2

! X colors.
*.foreground:           #d3daea
*.background:           #101219
*.cursorColor:          #d3daea
*.reverseCursorColor:   #101219

! Colors 0-15.
*.color0:   #101219
*.color1:   #896F8F
*.color2:   #7091B1
*.color3:   #9396AA
*.color4:   #C7BFBB
*.color5:   #A1B2D3
*.color6:   #B8C3D8
*.color7:   #d3daea
*.color8:   #9398a3
*.color9:   #896F8F
*.color10:  #7091B1
*.color11:  #9396AA
*.color12:  #C7BFBB
*.color13:  #A1B2D3
*.color14:  #B8C3D8
*.color15:  #d3daea

! Black color that will not be affected by bold highlighting.
*.color66:  #101219
