[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim
[submodule "kmonad"]
	path = kmonad
	url = https://github.com/kmonad/kmonad.git
[submodule "dwm"]
	path = dwm
	url = https://git.suckless.org/dwm
[submodule "st"]
	path = st
	url = https://git.suckless.org/st
[submodule "dmenu"]
	path = dmenu
	url = https://git.suckless.org/dmenu
[submodule "nvim-wincent"]
	path = nvim-wincent
	url = git@github.com:jonwin1/nvim-wincent.git
